:root {
    --table-margin: 0 0 1.25em 0;

    --table-th-font-weight: bold;

    --table-cell-padding: 0.5em;
    --table-cell-line-height: 1.25em;
    --table-cell-head-border-color: var(--theme-color-divider);
    --table-cell-head-border-top-thickness: 2px;
    --table-cell-head-border-bottom-thickness: 1px;
    --table-cell-border-bottom-thickness: 1px;
    --table-cell-border-left-thickness: 0;
    --table-cell-border-right-thickness: 0;
    --table-cell-border-color: var(--theme-color-divider);
    --table-cell-striped-fill-color: var(--theme-color-background)
}

table {
    border-collapse: collapse;
    margin: var(--table-margin);
}

table th {
    font-weight: var(--table-th-font-weight);
}

table > thead {
    border-top: var(--table-cell-head-border-top-thickness) solid var(--table-cell-head-border-color);
    border-bottom: var(--table-cell-head-border-bottom-thickness) solid var(--table-cell-head-border-color);
}

table > tbody tr {
    border-bottom: var(--table-cell-border-bottom-thickness) solid var(--table-cell-border-color);
    border-left: var(--table-cell-border-left-thickness) solid var(--table-cell-border-color);
    border-right: var(--table-cell-border-right-thickness) solid var(--table-cell-border-color);
}

table th, table td {
    padding: var(--table-cell-padding);
    line-height: var(--table-cell-line-height);
}

table > tbody tr:last-child {
    border-bottom: var(--table-cell-head-border-top-thickness) solid var(--table-cell-border-color);
}

table > tbody > tr:nth-child(2n + 1) {
    background-color: var(--table-cell-striped-fill-color);
}