
:root {
    --text-font-size: 16px;
    --text-line-height: 1.6em;
    --text-letter-spacing: 0;
    --text-word-spacing: 0.05em;

    --text-bold-color: var(--theme-color-text);

    --text-italic-color: var(--theme-color-text);

    --text-mark-color: var(--theme-color-text);
    --text-mark-background-color: #ffee99;
    --text-mark-padding: 0 0.2em;
    --text-mark-margin: 0;
}

body {
    font-size: var(--text-font-size);
}

p {
    font-size: var(--text-font-size);
}

b, strong {
    color: var(--text-bold-color);
}

i, em {
    color: var(--text-italic-color)
}

mark {
    color: var(--text-mark-color);
    background-color: var(--text-mark-background-color);
    padding: var(--text-mark-padding);
    margin: var(--text-mark-margin);
}