/* theme color */
:root {
    /* Text color */
    --theme-color-text: black;

    /* Background color */
    --theme-color-background: white;

    /* Primary theme color */
    --theme-color-primary: black;

    /* Secondary theme color */
    --theme-color-secondary: blue;

    /* Horizontal line (divider) color */
    --theme-color-divider: grey;

    /* Heading color */
    --theme-color-heading: var(--theme-color-primary);
}

/* theme font family */
:root {
    --theme-font-family-text: "Clear Sans", "Helvetica Neue", Helvetica, Arial, 'Segoe UI Emoji', sans-serif;

    --theme-font-family-heading: "EB Garamond", Georgia, "Noto Serif", "Noto Serif CJK SC",
    "Nimbus Roman No9 L", "Songti SC", "Source Han Serif SC", "Source Han Serif CN", serif;

    --theme-font-family-code: "Menlo", Consolas, "Monaco", "JetBrains Mono", Monospace !important;
}

/* horizontal line (divider) */
hr {
    border-color: var(--theme-color-divider)
}