@import "../style/main.css";

/* https://coolors.co/palette/e3f2fd-bbdefb-90caf9-64b5f6-42a5f5-2196f3-1e88e5-1976d2-1565c0-0d47a1 */
:root {
    --theme-color-text: #000814;
    --theme-color-primary: #1565c0;
    --theme-color-secondary: #469d89;
    --theme-color-divider: #CCCCCC;

    --code-background-color: #e2eafc;

    --blockquote-background-color: #e3f2fd;

    --table-cell-striped-fill-color: #EEEEEE;
}