/* Theme colors */
:root {
    --theme-color-text: #333333;
    --theme-color-background: white;

    --theme-color-primary: red;
    --theme-color-secondary: blue;
    --theme-color-divider: #CCCCCC;

    --theme-color-heading: var(--theme-color-primary);
}

/* Theme font family */
:root {
    --theme-font-family-heading: monospace;
    --theme-font-family-text: monospace;
    --theme-font-family-code: monospace;
}