@import "../style/main.css";

:root {
    --theme-color-text: #000814;
    --theme-color-background: #343a40;
    --theme-color-primary: #42A5F5;
    --theme-color-secondary: #469d89;
    --theme-color-divider: #CCCCCC;

    --code-background-color: #e2eafc;

    --blockquote-background-color: #e3f2fd;

    --table-cell-striped-fill-color: #e6e6e9;
}